<section class="content-section">
  <div class="container">
    <div class="content-wrapper">
      <h1>Our symbols</h1>
      <div class="content">
        <div class="content-text">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
            molestiae nobis rerum nihil numquam ab porro praesentium maxime
            eligendi laborum fugiat fuga. Sint officiis ea est eveniet.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
            molestiae nobis rerum nihil numquam ab porro praesentium maxime
            eligendi laborum fugiat fuga. Sint officiis ea est eveniet. Aliquid
            fugit itaque repudiandae nesciunt sapiente dolorem quod consequatur
            laboriosam, voluptates totam voluptatibus.
          </p>
        </div>
        <div class="mask">
          <img src="../img/sunflower1.jpg" alt="picture" />
        </div>
      </div>
      <div class="content reverse">
        <div class="content-text">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
            molestiae nobis rerum nihil numquam ab porro praesentium maxime
            eligendi laborum fugiat fuga. Sint officiis ea est eveniet.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque,
            molestiae nobis rerum nihil numquam ab porro praesentium maxime
            eligendi laborum fugiat fuga. Sint officiis ea est eveniet. Aliquid
            fugit itaque repudiandae nesciunt sapiente dolorem quod consequatur
            laboriosam, voluptates totam voluptatibus.
          </p>
        </div>
        <div class="mask">
          <img src="../img/kaluna1.jpg" alt="picture" />
        </div>
      </div>
    </div>
  </div>
</section>
