<section class="container">
  <!-- <h1 class="dev">Dev Titans</h1> -->
  <!-- Path to images as from index.html file -->
  <!-- <img class="titans" src="./img/111.jpg" alt="" width="300" /> -->

  <!-- <svg width="64" height="64" class="studio-about-icon">
    <use href="./img/icons.svg#icon-astronaut"></use>
  </svg> -->

  <div class="glass">
    <h1 class="h-glass">Home</h1>
    <div>
      <div>
        <h2>Discover tours</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          sunt!
        </p>
        <a href="#" aria-label="іконка" class="icon-link"
          >View
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 34 20"
            fill="none"
          >
            <path
              d="M24.3035 0.534363L22.7126 2.12532L29.4625 8.87515H0.125031V11.1251H29.4622L22.7126 17.8747L24.3035 19.4658L33.7694 10L24.3035 0.534363Z"
              fill="black"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <h2 class="h-glass">Land</h2>
</section>
